.partners
  +row-flex
  align-items: center
  &__item
    +col
    width: calc((100% / 5) - 70px)
    +md-block
      width: 100%
      text-align: center
      margin-bottom: 10.86vw
      &:last-child
        margin-bottom: 0