.header
  padding: 5.5rem 0 4rem
  +md-block
    padding: 5.99vw 0
  .container
    position: relative
    display: flex
    align-items: flex-end
  &__left
    margin-right: 2rem
    flex-shrink: 0
  &__right
    margin-left: auto
    flex-grow: 1
    &-top
      display: flex
      align-items: flex-end
      justify-content: flex-end
      padding-bottom: 35px
      +md-block
        display: none
  &__logos
    margin-right: 4rem
  &__social
    margin-right: 4rem
    margin-bottom: 0.3rem
  &__nav
    .nav-list
      justify-content: flex-end

.header-logos
  display: flex
  align-items: center
  &__item
    margin-right: 4.5rem
    +md-block
      margin-right: 2vw
    &:last-child
      margin-right: 0