.section
  &-title
    margin-bottom: 4.5rem
    padding-bottom: 2.5rem
    border-bottom: 0.5rem solid $gray
    +md-block
      margin-bottom: 4.37vw
      padding-bottom: 2vw
      border-width: 0.54vw

.single-news
  .hero
    min-height: 58rem
    +md-block
      min-height: auto