@import 'team-filter'
@import 'team-card'
@import 'team-list'

.team
  padding-bottom: 6rem
  +md-block
    padding-bottom: vw(100)
  .swiper-pagination
    bottom: 0
  .team-card
    margin-bottom: 0

@import 'team-modal'